/Asclepius.Auth.Api/obj/
/Asclepius.DTO/bin/
/Asclepius.DTO/obj/
/Asclepius.Auth.Api/bin/
/Asclepius.Auth.Business/bin/
/Asclepius.Auth.Business/obj/
/Asclepius.Auth.Data/bin/
/Asclepius.Auth.Data/obj/
/Asclepius.Auth.Domain/bin/
/Asclepius.Auth.Domain/obj/
